.container{
	display: flex;
	background-color: #DDD;
	color: #FFF;
	flex-direction: row;
}
.child-1{
	background-color: red;
	flex-basis: 150px;
	
}
.child-2{
	background-color: blue;
	flex-basis: 200px;
	flex-grow: 1;

}
.child-3{
	background-color: green;
	flex-basis: 250px;
	

}


/* 
 display: flex
 flex-direction
 justify-content
 align-items
 flex-basis

 flex-grow: <number>;
*/