.container{
	display: flex;
	flex-direction: column;
}
.item{
	background-color: #EEE;
	border: 1px solid black;
	text-align: center;
	padding: 50px;
	flex-grow: 1;
}
@media (min-width: 600px){
	.container{
		flex-direction: row;
	}
}